.row-flex{
    width:100%;
    list-style-type:none;
    margin:20px auto;
    padding:0;
    /*Flexbox setup*/
    display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.element-form-2{
    width:49%;
    margin:5px 2px; 
}
.element-form-1{
  width:99%;
    margin:5px 2px; 
}