<h1>{{worker.name}} - {{worker.lastName}}</h1>

<a routerLink="/workers" class="btn btn-default">volver</a>
<a (click)="asignarAccesoPlataformas()" class="btn btn-primary">Asignar</a>
<div class="row-flex">
	<div class="element-form-2">
		<div class="panel panel-primary">
			<div class="panel-heading"><b>Planta</b></div>
			<ul class="list-group" *ngFor='let plant of plants'>
				<li class="list-group-item">{{plant.name}} 
					<input type="checkbox" 
					(click)="getValuePlants(plant.plantId)" 
					value="{{plant.plantId}}" 
					#price name="plant"
					[checked]="plants.indexOf(plant) != -1" /></li> 
			</ul>
		</div>
	</div>
	<div class="element-form-2">
		<div class="panel panel-primary">
			<div class="panel-heading"><b>Cargo</b></div>
			<ul class="list-group" *ngFor='let charge of charges'>
				<li class="list-group-item">{{charge.name}} <input type="radio" (click)="getValueCharges(charge.chargeId)" value="{{charge.chargeId}}" #price name="charge" /></li>
			</ul>
		</div>
	</div>
</div>